<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reater Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href=".">Home</a></li>
        <li role="presentation"><a href="login">Sign In</a></li>
        <li role="presentation"><a href="signup">Sign Up</a></li>
      </ul>
      
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Reater</h3>
        </div>
        <div class="panel-body">
          <p>Reater stands for Real Time Emergency Responder. This revolutionary application allows patinets with Myocardial Infarction. It measures the following different vitals of the patinets to give overall and specific data on the patinet in real time.</p>

          <p>ECG: This is used to get the patients Heart Rate.</p>
          <p>Temperature Sensor: This is used to get the patinets body temperature</p>
          <p>ECG: This is used to monitor the patients Blood Oxygen Saturation Levels</p>

          <p>The system is used by both Patients and Resopnders. Responders are registered and are notified on anyoen in the local area that is in need of assistance and are also give a map of where they are located and where the nearest ADE is.
             The system has built in functions for the patients so that if they collaspe the system automatically calls the ambulance.
          </p>

          <p>There are a few main problems that this application addresses:</p>

          <p>1. Responce Time </p>
          <p>2. Allows Basic care to be given until help arrives</p>
          <p>3. Addresses the </p>
        </div>
      </div>

      
</body>
</html>