<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reater Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href=".">Home</a></li>
        <li role="presentation"><a href="login">Sign In</a></li>
        <li role="presentation"><a href="signup">Sign Up</a></li>
      </ul>
    <h1>Welcome to Reater</h1>
    <p>Reater is the newest generation of a smart health application.</p>
    <p>Please sign in or sign up above.</p>

      
</body>
</html>