<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Sign Up Page">
    <link rel="icon" href="../../favicon.ico">

    <title>Signup page</title>

    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

  <body>
      <ul class="nav nav-pills" style="background: #222;">
          <li role="presentation"><a href="/ehealth/">Home</a></li>
          <li role="presentation"><a href="login">Sign In</a></li>
          <li role="presentation" class="active"><a href="/ehealth/signup">Sign Up</a></li>
        </ul>

    <div class="container">

      <form class="form-signup">
        <h2 class="form-signup-heading">Are you signing up as a responder or a patient?</h2>
        <form>
          <input type="button" value="Responder" onclick="window.location.href='signup/responder'" />
          <input type="button" value="Patient" onclick="window.location.href='signup/patient'" />
        </form> 
      </form>

    </div> <!-- /container -->

  </body>
</html>
